/* classes de bg-color segundo a palheta escolhida, todas as 5 cores respectivas */
.BGAzulBB {
    background-color: #8ECAE6;
}
.BGAzul {
    background-color: #219EBC;
}
.BGMarinho {
    background-color: #023047;
}
.BGAmarelo {
    background-color: #FFB703;
}
.BGLaranja {
    background-color: #FB8500;
}

/* ID's de background segundo necessidade de sobreposição*/
#BGAzulBB {
    background-color: #8ECAE6;
}
#BGLaranja {
color: black;
    background-color: #FB8500;
}
#bgBK {
    background-color: #000;
}
#bgWH {
    background-color: #fff;
}
/* classes de foreground */
.textoBranco {
    color: #fff;
}
.textoNeutroCinza {
    color: #555;
}
.textoAzulBB {
    color: #8ECAE6;
}
.textoAzul {
    color: #219EBC;
}
.textoMarinho {
    color: #023047;
}
.textoAmarelo {
    color: #FFB703;
}
.textoLaranja {
    color: #FB8500;
}

/* Textos do carousel */
#item-carousel-titulo {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1.2em;
   /* color: #FB8500; */
}
#item-carousel-paragrafo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:639;
    font-style: italic;
    text-align: center;
    font-size: 1.1em;
   /* color: #FB8500; */
}

.carousel-caption-amarelo {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-bottom: 1.25rem;
    /* color: #fff; */
    background-color: #ffb8035b;
    text-align: center;
    border-radius: 10rem;
    
} /* propriedades da área de legendas do caroussel */
.carousel-caption-azul {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-bottom: 1.25rem;
    /* color: #fff; */
    background-color: #02304784;
    text-align: center;
    border-radius: 10rem;
} /* propriedades da área de legendas do caroussel */
.carousel-caption-azulBB {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-bottom: 1.25rem;
    /* color: #fff; */
    background-color: #8ecae673;
    text-align: center;
    border-radius: 10rem;
}

.container-radius {
    border-radius: 1rem;
} /* Mais arredondamento de container para dar visual mais amigável */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
} /* Com isso, totalmente responsivo, adaptado e com padding zerado! */

#btn-Marinho {
    background-color: #023047;
} /* Botões "azulMarinho" */

